 :root {
   --accent: #ef3a45;
   --nav-height: 64px;
   --card-radius: 36px;
   --page-width: 1200px;
 }


 html,  body {
   height: 100%;
   margin: 0;
   font-family: "Outfit", system-ui, Arial, sans-serif;
   background: #fff;
   overflow-x: hidden
 }




 
 .page-frame {
   max-width: var(--page-width);
   margin: 0 auto;
   padding: 0 16px;
   position: relative;
   background: transparent;
 }

 .page-frame.dark {
   background: #181818;
   border-left: 1px solid rgba(255, 255, 255, 0.07);
   border-right: 1px solid rgba(255, 255, 255, 0.07);
 }



.full-line {
  width: 100vw;
  height: 1px;
  background: rgba(0, 0, 0, 0.04); 

}

.scroll-top-line {
  width: 100%;
  height: 1px;
background: rgba(255, 255, 255, 0..02);
  
}







 .navbar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: var(--nav-height);
   background: #ffffff;
   display: flex;
   z-index: 999;
   border-bottom: 1px solid rgba(0, 0, 0, 0.04);
 }

 .navbar .container {
   width: 100%;
   max-width: var(--page-width);
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .logo img {
   height: 46px;
   
 }
 

 .nav-left {
   display: flex;
   gap: 28px;
 }

 .nav-menu  {
   display: flex;
   gap: 26px;
   list-style: none;
   margin: 0;
   padding: 0;
   align-items: center;
 }

 .nav-menu li {
   position: relative
 }

 .nav-menu a,
 .dropdown-btn {
   color: #303135;
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   display: inline-flex; 
   align-items: center;
   gap: 8px;
 }

 .chev {
   display: inline-block;

   font-size: 56;
   color: #444444a4;
 }

 .dropdown-btn.open .chev {
   transform: rotate(180deg);
 }

 

 .nav-left,
.nav-right {
  display: flex;
  gap: 20px;
  align-items: center; 
}


.nav-right a {
  color: #303135;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;              
  display: inline-flex;          
  align-items: center;          
  line-height: 1;                
}


 .contact-btn {
   background: var(--accent);
   color: #fff;
   border: 0;
   padding: 10px 18px;
   border-radius: 38px;
   font-weight: 600;
   cursor: pointer;

 }


 main {
   padding-top: calc(var(--nav-height) + 8px);
   min-height: 120vh
 }

 
.mega-overlay {
  position: absolute; 
  top: calc(var(--nav-height));
  pointer-events: none;  
  width: 100%;
  height: auto;         
  z-index: 1100;
}

 
 .mega-card {
   width: calc(100% - 64px);
   max-width: calc(var(--page-width) - 31px);
   margin: 18px auto;
   background: #fff;
   border-radius: var(--card-radius);
   box-shadow:
     0 10px 30px rgba(18, 18, 18, 0.23),
     0 2px 6px rgba(18, 18, 18, 0.23);
   overflow: visible;
   transform-origin: top center;
   opacity: 0;
   transform: translateY(-6px) scale(.995);
   transition: opacity .22s ease, transform .22s ease;
   pointer-events: auto;
   
 }


 .mega-card.open {
   opacity: 1;
   transform: translateY(0) scale(1);
 }


 .mega-inner {
   padding: 46px 64px 110px 64px;
   border-radius: var(--card-radius);
   background: linear-gradient(#fff, #fff);
   position: relative;
 }

 .mega-title {
   font-size: 36px;
   font-weight: 600;
   margin-bottom: 28px;
   color: #111;
 }

 
 .mega-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 44px 80px;
   align-items: start;
 }

 .mega-col {
   min-width: 0
 }

 .mega-col h4 {
   font-size: 18px;
   font-weight: 700;
   margin: 14px 0 10px;
   color: #0e0e0e;
 }

 .mega-col p {
   color: #8b8b92;
   margin: 0 0 22px 0;
   line-height: 1.7;
   font-size: 15px;
 }

 
 .mega-link {
   display: block;
   color: #000000;
   text-decoration: none;
   padding: 6px 0;
   font-size: 19px;
   transition: color .15s ease;
   font-weight: 600;
 }

 .mega-link:hover {
   color: var(--accent)
 }

 
 .mega-bottom-strip {
   position: absolute;
   left: 0;
   right: 0;
   bottom: -18px;
   height: 72px;
   background: #000;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   z-index: 5;
 }

 @media (max-width: 1200px) {
   .mega-card {
     width: calc(100% - 40px)
   }
 }

 @media (max-width: 880px) {
   .mega-inner {
     padding: 28px 28px 100px 28px
   }

   .mega-grid {
     grid-template-columns: 1fr
   }

   .mega-title {
     font-size: 28px
   }

   .mega-card {
     margin: 12px
   }
 }


 .mega-overlay.hidden {
   display: none
 }

 .mega-overlay .spacer {
   height: 16px
 }



 .hero {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 150px 40px; 
   gap: 20px;
   background: #fff;
 }


 .hero-left {
   flex: 1;
   max-width: 820px;
 }

 .hero-left h1 {
   font-size: 52px;
   line-height: 1.15;
   font-weight: 600;
   color: #000;
   margin-bottom: 32px;
  ;
 }

 .hero-left  {
   color: #e83446;
 }

 .hero-left p {
   font-size: 18px;
   line-height: 1.7;
   color: #222;
   margin-bottom: 40px;
   max-width: 540px;
 }


 .cta-btn {
   background: #e83446;
   color: #fff;
   border: none;
   font-size: 14px;
   padding: 12px 16px;
   border-radius: 30px;
   font-weight: 600;
   cursor: pointer;
 }



 .hero-right {
   position: relative;
   width: 450px;
   height: 420px;

 }


 .hero-right img {
   position: absolute;
   object-fit: cover;
 }

 
 
 .img-front {
   width: 295px;
   z-index: 1;
   top: -19px;
   bottom: -4px;
   left: -30px;
 }


 .img-back {
   width: 300px;

   z-index: 1;
   bottom: -10px;
   right: 0;
 }


 .hero-right::after {
   content: "";
   position: absolute;
   bottom: -30px;
   left: 20px;
   width: 90%;
   height: 140px;
   background-image: url("pattern.png");
   background-size: contain;
   background-repeat: no-repeat;
   z-index: 0;
 }


 .page-frame {
   border-left: 1px solid #e4e4e4;
   border-right: 1px solid #e4e4e4;
 }


 .no-frame-border {
   border-left: none !important;
   border-right: none !important;
 }




 .partners-section {
   width: 100vw;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   overflow: hidden;
   padding: 20px 0;
 }


 .partners-wrapper {
   display: flex;
   overflow: hidden;
 }


 .partners-track {
   display: flex;
   gap: 40px;
   animation: partnersScroll 22s linear infinite;
   will-change: transform;
 }


 .partners-track:hover {
   animation-play-state: paused;
 }


 .partners-track img {
   width: 70px;
   height: auto;
   flex-shrink: 0;
   object-fit: contain;
 }


 @keyframes partnersScroll {
   0% {
     transform: translateX(0);
   }

   100% {
     transform: translateX(-50%);
   }
 }

 .background {
   width: 100vw;
   background: #181818;

 }


 .stats {
   background: #181818;
   color: white;
   padding: 170px 40px 40px 40px;

 }

 .stats-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   max-width: 1200px;
   margin: 0 auto;
 }

 .stat {
   display: flex;
   flex-direction: column; 
 }

 .stat-number {
   font-size: 45px;
   font-weight: 600;
   margin-bottom: 16px;
   color: #e63946;
 }

 .stat-text {
   font-size: 16px;
   line-height: 1.7;
   color: #ccc;
 }


 .impact {
   background: #181818;
   color: white;
   padding: 15px 40px 120px 40px;
   border-top: 1px solid #333;
 }

 .impact-header {
   max-width: 1200px;
   margin: 0 auto 60px;
 }

 .impact h2 {
   font-size: 42px;
   margin-bottom: 20px;
   font-weight: 700;
 }

 .impact p {
   font-size: 15px;
   line-height: 1.7;
   font-weight: 700;
   color: hsl(0, 20%, 99%);
   margin-bottom: 12px;
 }

 .impact-report {
   color: #e63946;
   text-decoration: none;
   font-weight: 600;
   display: inline-flex;
   align-items: center;
   gap: 8px;
   margin-top: 20px;
   font-size: 14px;
 }

 .impact-report:hover {
   text-decoration: underline;
 }




 .infinite-scroll-container {
  height: 600px;
  overflow: hidden;
  position: relative;
  padding: 0px 0px 40px 0px;
 
}

.infinite-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  animation: scrollVertical 30s linear infinite;
}

.item img {
  width: 100%;
  border-radius: 0px;
  display: block;
}

.infinite-scroll-container:hover .infinite-grid {
  animation-play-state: paused;
}

@keyframes scrollVertical {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}




.alumni-map {
  padding: 100px 0;
  text-align: center;
  background-color: #171918;
}

.alumni-map h2 {
  font-size: 24px;
  margin-bottom: 100px;
  font-weight: 600;
  color: #747574;
}


.alumni-container {
  position: relative;
  width: 100%;
  min-height: 800px;
  background-image: url("../Image/map.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #171918;
  overflow: hidden;
}



.alumni-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 20px;
  border-radius: 16px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.02)
  );

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  color: #ffffff;
  text-decoration: none;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);

  opacity: 0;
  pointer-events: none;

  transition:
    opacity 1s ease,
    transform 0.4s ease,
    box-shadow 0.4s ease;
}


.alumni-card.active {
  opacity: 1;
  pointer-events: auto;
}


.alumni-card.active:hover {
  transform: translate(-50%, -54%) scale(1.015);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.65);
}



.alumni-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1px;
}

.alumni-person {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.alumni-company {
  width: 90px;
  object-fit: contain;
}



.alumni-card-content {
  text-align: left;
  margin-top: 2px;
}

.alumni-card-content h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: -1px;
}

.alumni-card-content .role {
  font-size: 19px;
  color: #cfd3d0;
  margin-bottom: 6x;
}

.alumni-batch {
  font-size: 16px;
  color: #eef0ef;
}



.card-arrow {
  position: absolute;
  right: 18px;
  bottom: 18px;
  font-size: 50px;
  color: #ED1B33;
  opacity: 0;
  transform: translateY(12px) rotate(-45deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}


.alumni-card:hover .card-arrow {
  opacity: 1;
  transform: translateY(0) rotate(-45deg);
}



@media (max-width: 480px) {
  .alumni-card {
    width: 90%;
    padding: 20px;
  }

  .alumni-company {
    width: 70px;
  }
}






 .approach {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 100px 40px;
   gap: 20px;
   background: #fff;
 }

 
 .approach-container {
   display: flex;
   align-items: center;
   gap: 60px;
   max-width: 1250px;
   width: 100%;
   margin: auto;
 }


 .approach-image img {
   width: 550px;
   font-weight: 400;
   font-size: 20px;
   height: auto;
   border-radius: 10px;
 }

 

 .approach-content {
   flex: 1;
 }

 .approach-content h2 {
   font-size: 42px;
   font-weight: 400;
   margin-bottom: 20px;
   letter-spacing: -0.64px;
   line-height: 42.6px;
   text-align: left;
 }

 .approach-text {
   font-size: 20px;
   font-weight: 400;
   letter-spacing: normal;
   line-height: 32px;
  
 }


 .approach-grid {
   display: flex;
   flex-direction: column;
   line-height: 32px;
   
   
 }


 .approach-item h3 {
   font-size: 19px;
   font-weight: 400;
   line-height: 1.6;
   color: #222;
 }


 .icon-title {
   display: inline-flex;
   align-items: center;
   gap: 6px;
   color: #ED1B33;
   font-weight: 500;
   font-size: 20px;
 }


 .icon-title img {
   width: 22px;
   height: 22px;
 }


 .description {
   display: inline;
   font-weight:400;
   font-size: 20px;
   color: #222;
 }


 @media (max-width: 900px) {
   .approach-container {
     flex-direction: column;
     text-align: center;
   }

   .approach-image img {
     width: 100%;
     max-width: 600px;
   }
 }


.movement-section {
  padding: 100px 40px;     
  background: #fff;
}


.movement-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;    
  align-items: center;
}


.movement-left h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 18px;     
}

.subtitle {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 45px;       
}


.accordion-item {
  border-bottom: 1px solid #e4e4e4;
  padding: 22px 0;   
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.accordion-header h3 {
  font-size: 24px;
  font-weight: 550;
  margin: 0;
  color: #14151a;
}

.symbol {
  font-size: 24px;
}


.accordion-body {
  display: none;
  font-size: 20px;
  line-height: 32px;
  margin-top: 10px;
}


.accordion-item.active .accordion-body {
  display: block;
}

.btn {
  display: inline-block;
  padding: 0px 13px;
  background: #ED1B33;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 500;
  text-decoration: none;
}


.image-wrapper {
  position: relative;
  max-width: 480px;   
  margin-left: auto;
}

.image-wrapper img {
  width: 100%;
  border-radius: 6px;
}

.pink-shapes {
  position: absolute;
  width: 130%;
  height: 130%;
  top: -15%;
  left: -15%;
  background: url("pink-shaes.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}


@media (max-width: 900px) {
  .movement-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 50px;
  }
}


 .ai4e {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 120px 43px ;
   gap: 20px;
   background: #171918;
 }


 .ai4e-container {
   width: 80%;
   max-width: 1300px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 70px;
 }

 .ai4e-badge {
   display: inline-block;
   padding: 3px 14px;
   background: #272827;
   border: 1px solid #ff415a;
   border-radius: 8px;
   color: #D31D31;
   font-size: 15px;
   margin-bottom: 0px;
 }

 .ai4e-left h2 {
   font-size: 42px;
   font-weight: 700;
   color: #ED1B33;
   line-height: 1.25;
   margin-bottom: 20px;
 }

 .ai4e-left p {
   font-size: 20px;
   color: #aaaaaa;
   line-height: 1.7;
   font-weight: 400;
 }


 .ai4e-features {
   list-style: none;
   padding: 0;
   padding-top: 68px;
   padding-right: 20px;
   margin: 0 0 25px 0;
   font-family: 400;
 }

 .ai4e-features li {
   position: relative;
   padding-left: 30px;
   margin-bottom: 18px;
   font-size: 20px;
   color: #ffffff;
   line-height: 32px;
   
 }


 .ai4e-features li::before {
   content: "✔";
   position: absolute;
   left: 0;
   top: 0;
   color: #ffffff;
   font-size: 20px;
 }

 
 .ai4e-note {
   font-size: 20px;
   font-weight: 400;
   color: #aaa;
   margin-bottom: 30px;
 }


 .cta-button {
   background: #ED1B33;
   border: none;
   padding: 12px 18px;
   color: #fff;
   border-radius: 25px;
   font-size: 14px;
   cursor: pointer;
   font-weight: 600;
 }

 .cta-button:hover {
   opacity: 0.85;
 }


 @media(max-width: 900px) {
   .ai4e-container {
     grid-template-columns: 1fr;
   }
 }





 .product-section {
   display: flex;
   align-items: center;
   justify-content: space-between;
    padding: 120px 35px ;
   gap: 20px;
   background: #fff;
   

 }

 .product-container {
   max-width: 1200px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 80px;
   align-items: center;
 }


 .product-content h2 {
   font-size: 42px;
   font-weight: 600;
   margin-bottom: 18px;
   line-height: 46px;
 }

 .product-content p {
   font-size: 20px;
   color: #14151a;
   line-height: 32px;
   margin-bottom: 25px;
 }

 .product-features {
   list-style: none;
   margin: 35px 0 45px 0;
   padding: 0;
 }

 .product-features li {
   font-size: 18px;
   margin-bottom: 14px;
   font-weight: 400;
   padding-left: 26px;
   color: #444;
   position: relative;
 }

 .product-features li::before {
   content: "✓";
   position: absolute;
   left: 0;
   top: 0;
   color: #e63946;
   font-size: 20px;
   font-weight: 700;
 }

 .product-link {
   font-size: 16px;
   color: #ed1b33;
   font-weight: 600;
   text-decoration: none;
 }

 .product-link:hover {
   opacity: 0.7;
 }


 .product-image {
   width: 95%;
 }

 .product-image img {
   width: 100%;
   height: auto;
   object-fit: contain;
 }




.blog-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px 40px 20px; 
  font-family: "Outfit", sans-serif;
}


.blog-line {
  width: 100%;
  height: 1px;
  background: #e5e6e7;
  margin: 40px 0;  
}


.blog-header {
  max-width: 600px;
  margin-bottom: 40px;
}

.blog-header h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-header p {
  color: #000000;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 400;
}

.blog-explore {
  font-weight: 500;
  color: #ed1b33;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  padding-right: 15px;
}

.blog-explore span {
  font-weight: 500;
  font-size: 16px;
}


.blog-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 38px;
}

.blog-card {
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0px;
  overflow: hidden;
  padding-bottom: 25px;
  transition: .25s ease;
}


.blog-img {
  width: 100%;
  height: 350px;
  object-fit: cover; 
  display: block;
  cursor: pointer;
  transition: .25s;
}


.blog-tag {
  display: inline-block;
  margin: 16px 22px 8px 22px;
  padding: 6px 14px;
  background: #f1f3f5;
  color: #444;
  border-radius: 12px;
  font-size: 0.78rem;
  font-weight: 600;
  text-decoration: none;
}


.blog-title-link {
  text-decoration: none;
  color: #111;
}

.blog-title-link h3 {
  font-size: 1.28rem;
  line-height: 1.45;
  margin: 6px 22px 12px 22px;
}

.blog-desc {
  margin: 0 22px;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}



.blog-card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px; 
  width: 1px;
  height: 100%;
  background: #e5e6e7;
}


@media (max-width: 900px) {
  .blog-card::after {
    display: none;
  }
}



 .footer {
   background: #121212;
   color: #ddd;
   padding: 120px 0px 3px 20px;
   font-family: "Outfit", sans-serif;
   padding-left: 130px;
 }

 .footer-logo {
   grid-column: 1 / -1;
   color: black;
   margin-bottom: -80px;
   background: #121212;
   
 }


 .footer-container {
   max-width: 1500px;
   margin: auto;
   padding: 0 50px;
   display: grid;
   grid-template-columns: 1.4fr 1fr 1fr 1fr 1.3fr;
   gap: 80px;
 }

 .footer-logo img {
   width: 135px;
   
 }


 .footer-col {
   gap: 20px;
 }


 .footer-col h4 {
   font-size: 1.2rem;
   color: rgba(255, 255, 255, 0.3);
   margin-bottom: 25px;
   font-weight: 600;
 }


 .footer-col a {
   display: block;
   margin-bottom: 20px;
   text-decoration: none;
   color: #dcdcdc;
   font-size: 1.05rem;
   transition: .2s;
 }

 .footer-col a:hover {
   color: #fff;
 }


 .footer-contact p {
   color: rgba(255, 255, 255, 0.3);
   margin: 10px 0;
   line-height: 1.7;
   font-size: 18px;
 }

 .footer-contact p {
  max-width: 260px;          
  word-wrap: break-word;
}


 .footer-contact .sub {
   font-weight: 600;
   color: #e3e3e3;
 }


 .footer-bottom {
   max-width: 1500px;
   margin: 50px auto 0;
   padding-left: 60px;
   padding-right: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #999;
   font-size: 1rem;
   margin-bottom: 30px;
 }

 .footer-right {
   display: flex;
   gap: 25px;
   padding-left: 90px;
 }

 .footer-right img {
   width: 25px;
   opacity: 0.9;
   transition: 0.2s;
  
 }

 .footer-right img:hover {
   opacity: 1;
 }